/* Dashboard */

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
}

body {
    background: #060c1a;
}

header {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #0e1421;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 90%;
    width: 15rem;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1.6rem;
    margin-left: 4rem;
}

header > h1 {
    font-size: 3rem;
    user-select: none;
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    margin-top: -2rem;
}

header > img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    user-select: none;
}

header > ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 3rem;
    margin-left: 5.2rem;
}

header > ul > li {
    padding: 1rem 0;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    display: flex;
}

header > ul > li > a {
    color: #676b73;
    text-decoration: none;
    margin-bottom: 10rem;
}

main {
    margin-left: 22rem; 
    display: flex;
    height: calc(100% - 12rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h2 {
    padding: 2rem;
    font-size: 2rem;
    user-select: none;  
    border: 1px solid black;
}

main > section#dataDisplay {
    height: 48rem;
    width: 100%;
}


footer {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    visibility: hidden;
    font-size: 10rem;
}


.container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: -35rem;
    user-select: none;
}
